#editor > #draggable, #editor > #wrapper
{
    overflow: scroll;
    overflow-x: hidden;
}


#draggable::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px #ffffff;
	background-color: #FFFFFF;
}

#draggable::-webkit-scrollbar
{
	width: 3px;
	background-color: #FFFFFF;
}

#draggable::-webkit-scrollbar-thumb
{
	background-color: #707070;
}


#editor
{
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
}

#draggable
{
    min-width: 350px;
    border-right: 2px solid #707070;
}

#draggable > .draggableComponent
{
    min-height: 180px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 15px;
    cursor: move;
}

#wrapper
{
    width: 100%;
}

.draggableMarker
{
    color: #707070;
    border: 3px dashed  #707070;
    border-left: 0 double  #707070;
    padding: 10px 25px;
    text-align: center;
}

.heading
{
    min-height: 600px;
    width: 100%;
    position: relative;

    color: #FFFFFF;
    text-align: center;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 25px 50px;
}

.heading > img
{
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.heading > .backing
{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.6;
}

.heading > h2
{
    font-size: 7vmin;
    margin-bottom: 15px;
}

.heading > p
{
    font-size: 2vmin;
}

@media screen and (max-width: 768px)
{
    .heading > h2
{
    font-size: 8vw;
}

.heading > p
{
    font-size: 4vw;
}
}