#editor > #draggable, #editor > #wrapper
{
	overflow: scroll;
	overflow-x: hidden;
}


#draggable::-webkit-scrollbar-track
{
	background-color: #FFFFFF;
	-webkit-box-shadow: inset 0 0 6px #FFFFFF;
}

#draggable::-webkit-scrollbar
{
	width: 3px;

	background-color: #FFFFFF;
}

#draggable::-webkit-scrollbar-thumb
{
	background-color: #707070;
}


#editor
{
	display: flex;
	flex-flow: row nowrap;

	height: 100%;
}

#draggable
{
	min-width: 350px;

	border-right: 2px solid #707070;
}

#draggable > .draggableComponent
{
	min-height: 180px;
	margin: 15px;

	cursor: move;

	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

#wrapper
{
	width: 100%;
}

.draggableMarker
{
	padding: 10px 25px;

	text-align: center;

	color: #707070;
	border: 3px dashed  #707070;
	border-left: 0 double  #707070;
}

.heading
{
	position: relative;

	display: flex;
	align-items: center;
	flex-flow: column nowrap;
	justify-content: center;

	width: 100%;
	min-height: 600px;
	padding: 25px 50px;

	text-align: center;

	color: #FFFFFF;
}

.heading > img
{
	position: absolute;
	z-index: -2;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
}

.heading > .backing
{
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	opacity: 0.6;
	background-color: #000000;
}

.heading > .heading-text
{
	font-size: 7vmin;

	width: 100%;
	margin-bottom: 15px;
	padding: 5px 15px;
}

.heading > .heading-post-text
{
	font-size: 2vmin;

	padding: 5px 15px;
}

@media screen and (max-width: 768px)
{
	.heading > .heading-text
	{
		font-size: 8vw;
	}

	.heading > .heading-post-text
	{
		font-size: 4vw;
	}
}

h1[contentEditable=true], h2[contentEditable=true], h3[contentEditable=true], p[contentEditable=true]
{
	border: 3px dashed  #707070;
	outline: 0;
}

.controls
{
	position: absolute;
	bottom: 15px;
	left: 15px;
}

.controls > div
{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	opacity: 0.3;
	margin-top: 5px;
	padding: 8px;
	background-color: #707070;
	cursor: pointer;
	transition: 0.3s all;
}

.controls > div:hover
{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	opacity: 0.8;
}

#wrapper section:first-of-type .up
{
	display: none !important;
}

#wrapper section:last-of-type .down
{
	display: none !important;
}