#editor #draggable, #editor  #wrapper
{
	overflow: scroll;
	overflow-x: hidden;

	height: 100%;
}


#draggable::-webkit-scrollbar-track
{
	background-color: #FFFFFF;
	-webkit-box-shadow: inset 0 0 6px #FFFFFF;
}

#draggable::-webkit-scrollbar
{
	width: 3px;

	background-color: #FFFFFF;
}

#draggable::-webkit-scrollbar-thumb
{
	background-color: #707070;
}


#editor
{
	display: flex;
	flex-flow: row nowrap;

	height: 100%;
}

#draggableWrapper
{
	position: relative;

	min-width: 350px;
	padding-bottom: 55px;

	border-right: 2px solid #707070;
}



.save
{
	position: absolute;
	bottom: 0;
	left: 0;

	width: 100%;
	height: min-content;
	height: 55px;
	padding: 15px 25px;

	cursor: pointer;
	transition: 0.3s all;
	text-align: center;

	border: 3px dashed #707070;
	background-color: #FFFFFF;
}

.save:hover
{
	color: white;
	border: 3px solid #707070;
	background-color: #707070;
}

.draggableComponent
{
	min-height: 180px;
	margin: 15px;

	cursor: move;

	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

#wrapper
{
	width: 100%;
}

.draggableMarker
{
	padding: 10px 25px;

	text-align: center;

	color: #707070;
	border: 3px dashed  #707070;
	border-left: 0 double  #707070;
}

.heading
{
	position: relative;

	display: flex;
	align-items: center;
	flex-flow: column nowrap;
	justify-content: center;

	width: 100%;
	min-height: 600px;
	padding: 25px 50px;

	text-align: center;

	color: #FFFFFF;
}

.heading > img, .link > img
{
	position: absolute;
	z-index: -2;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
}

.backing
{
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	opacity: 0.6;
	background-color: #000000;
}

.heading > .heading-text
{
	font-size: 7vmin;

	width: 100%;
	margin-bottom: 15px;
	padding: 5px 15px;

	text-shadow: 3px 2px 5px rgba(0,0,0,0.2);
}

.heading > .heading-post-text
{
	font-size: 2vmin;

	padding: 5px 15px;

	text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

@media screen and (max-width: 768px)
{
	.heading > .heading-text
	{
		font-size: 8vw;
	}

	.heading > .heading-post-text
	{
		font-size: 4vw;
	}
}

h1[contentEditable=true], h2[contentEditable=true], h3[contentEditable=true], p[contentEditable=true]
{
	border: 3px dashed  #707070;
	outline: 0;
}

.controls
{
	position: absolute;
	bottom: 15px;
	left: 15px;
}

.controls > div, .deleteButton, .imageUrlButton, .imageBackgroundColor
{
	margin-top: 5px;
	padding: 8px;

	cursor: pointer;
	transition: 0.3s all;

	opacity: 0.3;
	background-color: #707070;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.deleteButton
{
	position: absolute;
	top: 10px;
	right: 15px;

	opacity: 0.4;
}

.imageUrlButton
{
	position: absolute;
	top: 10px;
	left: 15px;
}

.imageBackgroundColor
{
	position: absolute;
	top: 55px;
	left: 15px;
}

.controls > div:hover, .deleteButton:hover, .imageUrlButton:hover, .imageBackgroundColor:hover
{
	opacity: 0.8;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#wrapper section:first-of-type .up
{
	display: none !important;
}

#wrapper section:last-of-type .down
{
	display: none !important;
}

.link
{
	position: relative;
	color: #FFFFFF;
	display: flex;
	align-items: center;
	flex-flow: column nowrap;
	justify-content: center;

	padding: 25px 50px;
}

.link .link-button
{
	padding: 15px 35px;

	transition: 0.3s all;

	background-color: rgba(0,0,0,0.4);
	box-shadow: 3px 2px 5px rgba(0,0,0,0.2);
	color: #FFFFFF;
}

.link .link-button:hover
{
	box-shadow: 7px 6px 10px rgba(0,0,0,0.3);
}

.component.heading
{
	min-height: 600px;
}

.component.link
{
	min-height: 250px;
}